body {
    height: 100vh;
    cursor: default;
    font-family: Playfair Display, open sans-serif;
    color: white;
}

::selection {
    color: #028df6;
}

.pointer {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.height {
    min-height: 80dvh;
}

.scrollable-div {
    max-height: 80dvh;
    margin-top: 5%;
    overflow: auto;
    padding: 10px;
}

.display {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.lista-redes {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.nomeEfuncao {
    /*margin-top: 5%;*/
}

.fontSizeP{
    color: #d7a2fe;
}

.imagem {
    border-radius: 50%;
}

.divImagem {
    margin-top: 20%;
    display: flex;
    justify-content: center;
}
.tecnologias{
    display: flex;
    justify-content: center;
}

@media (min-width: 50px) and (max-width: 576px) {
    .footer {
        position: relative;
    }

    .fontSizeH1 {
        text-align: center;
        font-size: 3rem;
    }

    .fontSizeP {
        text-align: center;
        font-size: 25px;
    }

    .sobre {
        text-align: justify;
        margin: 10%;
    }

    .redes {
        margin-top: 15%;
    }

    .lista-redes {
        display: flex;
        justify-content: center;
        font-size: 20px;

        .bi{
            display: block;
        }

        .textoRedes{
            display: none;
        }

        .bi-whatsapp{
            color: #25D366;
        }
        .bi-instagram{
            background: linear-gradient(45deg, #D62976, #F58529);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .bi-linkedin{
            background: linear-gradient(45deg, #0077B5, #005582);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .bi-github{
            color: #5c6bc0;
        }
    }

    .height {
        height: 60dvh;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .footer {
        position: relative;
    }

    .fontSizeH1 {
        text-align: center;
        font-size: 3rem;
    }

    .fontSizeP {
        text-align: center;
        font-size: 25px;
    }

    .sobre {
        font-size: 20px;
    }

    .redes {
        margin-top: 15%;
    }

    .lista-redes {
        display: flex;
        justify-content: space-around;
    }

    .height {
        height: 70dvh;
    }

}

@media (min-width: 767px) and (max-width: 992px) and (min-height: 410px) and (max-height: 979px) {
    .footer {
        position: relative;
    }

    .fontSizeH1 {
        text-align: center;
        font-size: 3rem;
    }

    .fontSizeP {
        text-align: center;
        font-size: 25px;
    }

    .sobre {
        margin-top: 30px;
        font-size: 20px;
    }

    .redes {
        margin-top: 20%;
    }

    .lista-redes {
        list-style: none;
        display: flex;

        li {
            margin: 10px;
            font-size: 20px;
        }
    }

    .height {
        height: 60dvh;
    }
}

@media (min-width: 767px) and (max-width: 992px) and (min-height: 980px) {
    .footer {
        position: relative;
    }

    .fontSizeH1 {
        text-align: center;
        font-size: 3rem;
    }

    .fontSizeP {
        text-align: center;
        font-size: 25px;

    }

    .sobre {
        font-size: 25px;
    }

    .redes {
        margin-top: 40%;
    }

    .lista-redes {
        list-style: none;
        display: flex;
        margin: 10px;
        font-size: 20px;
    }

    .height {
        height: 60dvh;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .lista-redes {
        font-size: 18px;
    }

}

@media (min-width: 993px) {
    .nomeEfuncao {
        margin-top: 6%;
    }

    .fontSizeH1 {
        text-align: center;
        font-size: 4rem;
    }

    .fontSizeP {
        text-align: center;
        font-size: 2rem;
    }

    .sobre {
        text-align: justify;
        font-size: 20px;
    }

    .redes {
        margin-top: 60px;
        display: flex;
        justify-content: center;

    }
}


#instaId:hover {
    background: linear-gradient(45deg, #D62976, #F58529);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#whatsappId:hover {
    background: linear-gradient(45deg, #25D366, #128C7E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#linkedinId:hover {
    background: linear-gradient(45deg, #0077B5, #005582);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#githubId:hover {
    background: linear-gradient(45deg, #5c6bc0, #36438d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.scrollable-div::-webkit-scrollbar {
    /*display: none;*/
    width: 3px; /* Largura do scrollbar */
    height: 10px; /* Altura do scrollbar horizontal */
}

.scrollable-div::-webkit-scrollbar-track {
    display: none;
    background: #2a2929;
    border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-track {
    display: none;
    background: #2a2929;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
